@font-face {
    font-family: Comfortaa;
    src: url("./assets/fonts/Comfortaa-VariableFont_wght.ttf");
}

.text-center {
    text-align: center;
}

body {
    font-family: Comfortaa;
    margin: 0;
    padding: 0;
}